* {
  box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #f8f8f9;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 1200;
    line-height: 50%;
    font-size: 2em;
}

p {
    font-weight: 700;
    line-height: 20%;
    font-size: 0.9em;
}


.main {
    margin-top: 50px;
    width: 65vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    background-image: url("images/bg-desktop.svg");
    background-color: #7136ed;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;    
}

.container {
    display: flex;
    flex-direction: column;
}

.left {
    flex: 3;
    width: 70%;
    justify-content: center;
    align-items: left;
    .logo {
	width: 25%;
	margin-left: 2%;
	margin-bottom: 5%;
    }
    .main-picture {
	width: 100%;
	margin-left: 2%;
	height: auto;
	overflow: hidden;
    }
}

.right {
    flex: 1;
    justify-content: center;
    margin-left: 5%;
    margin-right: 2% ;
    width: auto;
    .register {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #7136ed;
	background-color: #f8f8f9;
	height: 7%;
	width: 40%;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 17px 8px 29px 6px rgba(0,0,0,0.23);
	box-shadow: 0px 10px 13px -7px #000000;
	margin-top: 5%;
	&:hover {
	    transition: color 1s;
	    transition: background-color 1s;
	    background-color: #ee9393;
	    color: white;
	}
    }
    .presentation {
    white-space: nowrap;
    }
}

@media screen and (max-width: 1400px) {

    h1 {
	font-size: 1.5em;
    }
    p {
	font-size: 0.7em;
    }
    .register {
	height: 6%;
    }
}

@media screen and (max-width: 1000px) {

    h1 {
	font-size: 1.2em;
    }
    p {
	font-size: 0.5em;
    }
}

@media screen and (max-width: 800px) {
    
    .main {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	.right {
	    align-items: center;
	}
	.left {
	    justify-content: end;
	}
    }
}
